.oswald {
  font-family: "Oswald", sans-serif;
}
.fadein {
  animation: fadein 1.5s;
}

.fadefont {
  animation: goup 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes goup {
  from {
    margin-top: 140px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
